.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;   
    align-items: center;
    padding: 50px 200px 00px 200px;
    background: linear-gradient(to bottom, #223240,#3B8C66);
    margin: 0;
}

.navbar h3{
    font-size: 24px;
    color: #93D94E;
    cursor: auto;
}

.area-imagem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap:100px
}

.area-imagem .navbar-imagem{
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.social-links ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 25px;

}

.social-links ul .icon-link{
    text-decoration: none;
    color: #93D94E;
    cursor: pointer;
    transition: all 0.4s ease;
}

.social-links ul .icon-link:hover{
    font-size: 27px;
    color: #ccf5fe;
}